.button {
  border: none;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
  padding: 8px;
}

.button.enabled:not(.selected):hover { 
  background-color: #f0f0f0;
}

.enabled {
  background-color: white;
  color: #64748B;
  font-weight: 700;
}

.disabled {
  background-color: white;
  color: #E2E2E2;
  font-weight: 700;
  cursor: not-allowed;
}

.selected {
  background-color: #E7EEF6;
  color: #1F4E79;
  font-weight: 700;
}