.wrapper {
  min-height: 100vh;
  width: 100vw;
  background: #154b7c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
}

.card {
  width: 1080px;
  max-width: 100%;
  height: 640px;
  background: #ffffff;
  border-radius: 28px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 48% 52%;
}

.left {
  padding: 34px 58px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 145px;
  margin-bottom: 70px;
}

.left h1 {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  margin-bottom: 42px;
}

.form {
  width: 100%;
  max-width: 330px;
  position: relative;
}
.form :global(label) {
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-bottom: 8px;
}

.form :global(input) {
  width: 100%;
  height: 42px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  padding: 0 14px;
  font-size: 15px;
  margin-bottom: 24px;
  outline: none;
}

.form :global(input:focus) {
  border-color: #154b7c;
}

.error {
  position: absolute;
  top: 200px;
  left: 0;
  width: 330px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  margin: 0;
  z-index: 2;
}

.form button {
  width: 180px;
  height: 48px;
  border-radius: 14px;
  margin: 20px auto;
  display: block;
  transform: translateX(10px);
}

.forgot {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #154b7c;
  cursor: pointer;
  margin: 15 px auto 15 px auto;
}

.right {
  background-image: url("/city.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

