.header {
  background: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 950px;
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
  color: #1F4E79;
  font-size: 35px;
  font-weight: 300;
  gap: 20px;
}