.button {
    border: none;
    display: inline-flex;
    background-color: #1F4E79;
    color: white;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.2s ease, transform 0.2s ease;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}

.small {
    border-radius: 20px;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.large {
    border-radius: 15px;
    justify-content: space-around;
    width: 200px;
    height: 60px;
    gap: 30px;
    padding: 12px 24px;
}

.primary {
    background-color: #1F4E79;
    color: white;
    font-weight: 500;
}

.secondary {
    background-color: #E7EEF6;
    color: #1F4E79;
    font-weight: 500;
}


